<p><strong>ADMINISTRATION PANEL</strong></p>
<p><%= time %></p>
<div class="container">
  <div class="employee-listing">
<%= render partial: 'employees/listing' %>
  </div>
  <div class="product-listing">
    <%= render partial: 'products/listing' %>
  </div>
  <div class="pdf-listing">
    <%= render partial: 'pdfs/listing' %>
  </div>
</div>
