%p
  %strong ADMINISTRATION PANEL
%p= time
%div
  .employee-listing
    = render partial: 'employees/listing'
  .product-listing
    = render partial: 'products/listing'
  .pdf-listing
    = render partial: 'pdfs/listing'
