= link_to "Sign in", new_user_session_path
or #{link_to "Sign up", new_user_registration_path}
%h1 Unauthorized Entry
%p employees please Sign in, if you are a new employee please sign up
%strong Current Employees:
= link_to "Sign in", new_user_session_path
%br/
%strong New Employees:
= link_to "Sign up", new_user_registration_path
