<p id="notice"><%= notice %></p>

<h2>Current Tasks</h2>
<%= link_to 'New List Item', new_todo_path %>
<ol>
  <% @todos.each do |todo| %>
    <%= render 'todo', {todo:todo} %>
  <% end %>
</ol>
<br>
<h2>Finished Tasks</h2>
  <ol>
    <% @todones.each do |tdone| %>
      <%= render 'todo', {todo:tdone} %>
    <% end %>
  </ol>
