// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment{
    div:nth-child(n+2){
    margin-left: 15px;
    padding: 10px;
    border-left: 2px solid;

  }
}
